.game-board{
    margin-top: 20px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    background-color: #560b74;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

body{
    background: linear-gradient(to right, #43c6ac, #191654);
}

.container{
    display: flex;
    flex-direction: row;
    margin: 5px;
    width: 380px;
    justify-content: space-between;
}


.cell{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}


.column{
    display: flex;
    flex-direction: column;
    height: 330px;
    justify-content: space-between;
}

#player{
    text-align: center;
    margin-top: 100px;
    font-family: sans-serif;
    font-weight: 600;
    color: red;
    font-size: 30px;
}